page {
  height: 100%;
  font-size: 12px;
  box-sizing: border-box;
  position: relative;
}
view {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.page {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fullPage {
  height: 100vh;
  overflow: hidden;
}
.centerPage {
  height: 100vh;
  justify-content: space-around;
}
.listContent {
  overflow: auto;
}
